<link rel="stylesheet" href="/home/ec2-user/environment/bookers/app/assets/stylesheets/application.css">
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
    <p><strong>Titele:</strong><%= @book.title %></p>
    <p><strong>Body:</strong><%= @book.body %></p>
<table>    
    <tr>
    <th><%= link_to 'Edit', edit_book_path(@book.id) %></th>
    <th>|</th>
    <th><a href="/books">Back</a></th>
  </tr>
</table>




 